<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.cospandesign.gpi"
      android:versionCode="1" 
      android:versionName=".004">
      
    <application 
    	android:label="@string/app_name" 
    	android:debuggable="true" 
    	android:name="com.cospandesign.android.gpi.GpiApp"
    	android:icon="@drawable/cdgpit" 
    	android:theme="@android:style/Theme.Black.NoTitleBar">
        

	    <activity 
	    	android:name="com.cospandesign.android.gpi.Gpi" 
	    	android:icon="@drawable/cdgpit" android:launchMode="singleTop">
	    	<intent-filter>
                <action 
                	android:name="android.intent.action.MAIN" 
                />
                <category 
                	android:name="android.intent.category.LAUNCHER" 
                />
            </intent-filter>
	    </activity>
		<activity 
			android:name="com.cospandesign.android.gpi.properties.PropertyManagerActivity">
		</activity>
		<activity 
			android:name="com.cospandesign.android.gpi.workspace.WorkspaceActivity">
		</activity>
		<activity 
			android:name="com.cospandesign.android.gpi.structurebuilder.ChannelDesignerActivity">
		</activity>
		<activity 
			android:name="com.cospandesign.android.gpi.structurebuilder.StructureBuilderActivity">
		</activity>
		<activity 
			android:name="com.cospandesign.android.gpi.structurebuilder.StructureSelectorActivity">
		</activity>
		<activity 
			android:name="com.cospandesign.android.gpi.medium.lcmtcp.TCPProviderActivity">
		</activity>
		<activity
			android:name="com.cospandesign.android.gpi.GpiSaveExternal">
		</activity>
		<service
			android:name="com.cospandesign.android.gpi.GpiService">
		</service>
	</application>
    <uses-sdk android:minSdkVersion="4"/>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>

</manifest> 